@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .stroke-black {
      -webkit-text-stroke: 2px black;
    }
    .stroke-blue-950 {
      -webkit-text-stroke: 2px #172554;
    }
    .stroke-orange-300 {
      -webkit-text-stroke: 2px #ffb86a;
    }
  }
  
  body {
    @apply transition-colors duration-300 bg-white dark:bg-neutral-900;
  }
  